.footer {
  background-color: #353535;
  color: white;

  text-align: left;
  padding-bottom: $paddingTopLow;
  .container {
    margin: auto;
    @media screen and (min-width: $breakpoint) {
      width: 70vw;
    }
    @media screen and (max-width: $breakpoint) {
      width: 80vw;
    }
    h3 {
      font-family: Shrikhand;
      padding-top: 1.25rem;
      padding-bottom: 1rem;
      margin: 0;
    }
    .link {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
      i {
        width: 20px;
        margin-right: 1%;
      }
      margin-top: 0.25rem;
    }
    a {
      color: inherit;
      text-decoration: inherit;
    }
  }
}
