.background-section {
  width: 100%;
  margin: auto;
  @media screen and (min-width: $breakpoint) {
    height: 40vh;
  }
  @media screen and (max-width: $breakpoint) {
    height: 30vh;
  }
  position: relative;
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    object-fit: cover;
    // object-position: center;
    z-index: -1;
  }
}

.menu-section {
  @media screen and (min-width: $breakpoint) {
    width: 70vw;
    box-sizing: border-box;
  }
  @media screen and (max-width: $breakpoint) {
    width: 100%;
    box-sizing: border-box;
  }
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: -3rem;
  padding: 2rem;
  border-radius: 3rem 3rem 0 0;
  background-color: $cleargrey;
  margin-left: auto;
  margin-right: auto;

  .page-title__wrapper {
    h1 {
      font-family: Shrikhand;
      margin: 0;
      font-size: x-large;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    .checkbox-heart {
      @include checkbox-heart;
    }
  }

  .menu-step-wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .menu-step-title {
      h2 {
        margin: 0;
        text-transform: uppercase;
        font-size: larger;
        font-weight: 300;
      }
      .separator {
        height: 3px;
        width: 10%;
        background-color: $tertiary;
      }
    }

    .dish-card {
      visibility: hidden;
      display: flex;
      @media screen and (min-width: $breakpoint) {
        height: 15vh;
      }
      @media screen and (max-width: $breakpoint) {
        height: 9vh;
      }
      background-color: white;
      border-radius: 1rem;
      padding: 0.75rem;
      box-sizing: border-box;
      justify-content: space-between;
      overflow: hidden;
      overflow: hidden;
      position: relative;
      transition: all 0.5s ease-in-out;

      .info-wrapper {
        display: flex;
        flex-direction: column;
        background-color: white;
        @media screen and (min-width: $breakpoint) {
          justify-content: space-evenly;
        }
        @media screen and (max-width: $breakpoint) {
          justify-content: space-between;
        }
        overflow: hidden;
        white-space: nowrap;
        h3 {
          margin: 0;
          font-size: larger;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        p {
          margin: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          font-weight: 300;
        }
      }
      .price {
        display: flex;
        @media screen and (min-width: $breakpoint) {
          align-items: center;
        }
        @media screen and (max-width: $breakpoint) {
          align-items: flex-end;
        }
        padding-right: 1rem;
        padding-left: 1rem;
        justify-content: space-around;
        p {
          padding: 0;
          vertical-align: bottom;
          font-weight: bold;
          margin: 0;
        }
        .icon {
          position: absolute;
          top: 0;
          right: 0;
          @media screen and (min-width: $breakpoint) {
            width: 15%;
          }
          @media screen and (max-width: $breakpoint) {
            width: 20%;
          }
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: xx-large;
          background-color: $tertiary;
          transform: translateX(110%);
          transition: all 0.5s ease-in-out;
          i {
            color: white;
            @media screen and (min-width: $breakpoint) {
              font-size: 3rem;
            }
            @media screen and (max-width: $breakpoint) {
              font-size: 1.75rem;
            }

            transition: all 0.6s ease-in-out;
          }
        }
      }
      &:hover {
        cursor: pointer;
        @media screen and (min-width: $breakpoint) {
          padding-right: 15%;
        }
        @media screen and (max-width: $breakpoint) {
          padding-right: 20%;
        }
        .price > .icon {
          transform: translateX(0%);
          i {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
  .order-button {
    cursor: pointer;
    margin: auto;
    border: 0;
    font-size: large;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    width: fit-content;
    text-align: center;
    color: whitesmoke;
    background: linear-gradient($primary, $secondary);
    box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.13);
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.8;
    }
  }
}

.appear {
  &_1 {
    animation: apparition 2000ms forwards;
  }
  &_2 {
    animation: apparition 2000ms 300ms forwards;
  }
  &_3 {
    animation: apparition 2000ms 600ms forwards;
  }
  &_4 {
    animation: apparition 2000ms 900ms forwards;
  }
  &_5 {
    animation: apparition 2000ms 1200ms forwards;
  }
  &_6 {
    animation: apparition 2000ms 1500ms forwards;
  }
  &_7 {
    animation: apparition 2000ms 1800ms forwards;
  }
  &_8 {
    animation: apparition 2000ms 2100ms forwards;
  }
  &_9 {
    animation: apparition 2000ms 2400ms forwards;
  }
  &_10 {
    animation: apparition 2000ms 2700ms forwards;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
